/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

/* reset básico para evitar “bandas” */
html, body, #root { height: 100%; }
body { margin: 0; background: #0b1220; color: #fff; }
* { box-sizing: border-box; }
html {
    scroll-behavior: smooth;
}